* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-image: linear-gradient(to right, #434343 0%, black 100%); }

h1 {
  font-size: 3.5em;
  color: #EEEEEE; }

h2 {
  font-size: 2.7em;
  color: #EEEEEE; }

h3 {
  font-size: 2em;
  color: #EEEEEE; }

p {
  font-size: 1.25em;
  color: #EEEEEE; }

ul {
  list-style: none;
  color: #EEEEEE; }

li {
  font-size: 1.25em;
  color: #EEEEEE; }

header {
  background: url(../img/pexels-luis-ruiz-991422.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }

span {
  color: #EEEEEE; }

#yy {
  color: #00ADB5; }

#of {
  color: #00ADB5; }

.container-icon {
  position: fixed;
  right: 0;
  padding: 15px;
  padding-top: 15px; }

nav {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1; }

nav ul {
  position: relative;
  float: right;
  margin: 0;
  padding-right: 50px; }

nav ul li {
  position: relative;
  display: inline-block;
  padding: 10px; }

nav ul li a {
  position: relative;
  font-size: 20px;
  padding: 7px 30px;
  text-decoration: none;
  font-weight: bold;
  color: #EEEEEE;
  line-height: 60px; }

header a:hover {
  color: #00ADB5; }

.nav__logo img {
  height: 97px;
  float: left;
  padding: 8px;
  position: sticky;
  border-radius: 15%; }

nav.black {
  background-image: linear-gradient(to right, #434343 0%, black 100%); }

.nav__label {
  float: right;
  line-height: 95px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#menu {
  display: none; }

.NombreDeMarca {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh; }

.quienessomos {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border-radius: 3%;
  padding: 80px 12px; }

.h3General {
  text-align: center; }

label {
  color: #EEEEEE; }

.TituloFormulario {
  color: #EEEEEE; }

.tienda {
  padding: 1em;
  margin: 2em 0;
  display: grid;
  grid-template-rows: 50px 50px 50px auto;
  grid-template-columns: repeat(3 1fr);
  grid-template-areas: "titulo titulo titulo " "saludo saludo saludo" "busqueda busqueda busqueda" "content content content"; }

.tituloTienda {
  grid-area: titulo; }

.saludo {
  grid-area: saludo; }

.busqueda {
  grid-area: busqueda;
  display: flex;
  justify-content: space-evenly; }

.InicioTienda h1 {
  text-align: center; }

.item {
  border: 4px solid  #222831;
  padding: 10px;
  border-radius: 20px; }

.item .price {
  color: #EEEEEE; }

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #222831;
  color: #EEEEEE;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

#contador-productos {
  font-size: 12px; }

.container-cart-products {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #222831;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px  #00ADB5;
  border-radius: 5px; }

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 5px;
  border-bottom: 1px solid  #00ADB5; }

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8; }

.titulo-producto-carrito {
  font-size: 20px;
  color: #EEEEEE; }

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px; }

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
  color: #EEEEEE;
  margin: 25px; }

.icon-close {
  width: 25px;
  height: 25px;
  color: #0097A7; }

.icon-close:hover {
  stroke: red;
  cursor: pointer; }

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 20px; }

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
  color: #EEEEEE; }

.total-pagar {
  font-size: 20px;
  font-weight: 900;
  color: #EEEEEE; }

.hidden-cart {
  display: none; }

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #EEEEEE; }

.icon-cart:hover {
  cursor: pointer; }

#Comprar {
  color: #EEEEEE; }

/* Main */
.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }

.item {
  border-radius: 10px; }

.item:hover {
  box-shadow: 0 10px 20px #00ADB5; }

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s; }

.item figure {
  overflow: hidden; }

.item:hover img {
  transform: scale(1.2); }

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px; }

.price {
  font-size: 18px;
  font-weight: 900; }

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer; }

.filtro {
  display: none; }

#map {
  height: 500px;
  width: 100%; }

/* Cancelado scss */
h4 {
  color: #0097A7; }

/* warnings de registro  */
.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px; }

@media (max-width: 992px) {
  .container-items {
    display: flex;
    gap: 20px;
    flex-direction: column; }
  nav {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    z-index: 1;
    height: 95px; }
  .nav__label {
    display: block;
    cursor: pointer;
    position: relative;
    right: 35px;
    bottom: 10px; }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #0097A7;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav__menu ul li a {
    color: #fff;
    grid-auto-flow: column;
    text-decoration: none;
    line-height: 110px;
    font-weight: bold;
    padding: auto;
    padding-left: 120px; }
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center); }
  .nav__logo img {
    height: 95px;
    float: left;
    padding: 7px;
    position: sticky;
    border-radius: 15%;
    z-index: 1; } }
